extends includes/layout

block content
    - var categoriesList = list_categories({ show_count: false })
    - var tagsList = list_tags({ show_count: false })
    - var archivesList = list_archives({ show_count: false })
    - var lastTime = ''

    div.archive
      each post in archivesList.sort('date', -1).toArray()
        .archive-item
          div
            div.archive-item__link__time(datetime=date_xml(post.date))= date(post.date) == lastTime ? '' : date(post.date)
              - lastTime = date(post.date)
            if post.link
                a.archive-item__link(href=url_for(post.link) target="_blank")
                  div.archive-item__link__title=post.title || 'No Title'
            else
                a.archive-item__link(href=url_for(post.path))
                  div.archive-item__link__title=post.title || 'No Title'

